<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-left">
      <a class="navbar-brand title" style="cursor: pointer" routerLink="/"
        >danny vo</a
      >
    </div>
    <div class="navbar-header navbar-right">
      <a class="navbar-brand" style="cursor: pointer" routerLink="/home"
        >home</a
      >

      <a class="navbar-brand" style="cursor: pointer" routerLink="/contact"
        >links</a
      >
    </div>
  </div>
</div>
