<div class="navbar">
  <div class="container-fluid">
    <div class="navbar-right">
      <a
        class="navbar-brand"
        style="cursor: pointer"
        href="#"
        (click)="scrollToDescription()"
        >About</a
      >
      <a class="navbar-brand" style="cursor: pointer" routerLink="/experience"
        >Experience</a
      >
      <a class="navbar-brand" style="cursor: pointer" routerLink="/contact"
        >Contact</a
      >

      <!-- <a class="navbar-brand" style="cursor: pointer" routerLink="/connect"
        >connect</a
      > -->
    </div>
    <div class="navbar-header navbar-right">
      <!-- <a
        id="github"
        class="navbar-brand"
        style="cursor: pointer"
        href="https://github.com/vodanny1"
        target="_blank"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
      <a
        id="linkedin"
        class="navbar-brand"
        style="cursor: pointer"
        href="https://www.linkedin.com/in/danny-vo-a5b517128/"
        target="_blank"
        ><fa-icon [icon]="faLinkedin"></fa-icon
      ></a> -->
    </div>
  </div>
</div>
