body {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.section1{
    background-color: #293241;
    color: white;
    margin: 0;
}

.main_title {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.aboutMe, .journey, .education, .links {
    font-size: 1.5rem;
    margin: auto;
    padding: 10px;
    width: 60%;
}

.profilePic {
    padding-bottom: 60px;
}

#btnDark {
    position: absolute;
    top: 30px;
    right: 30px;
    transition: 0.5s;
    color: white;
}

#btnDark:hover {
    transform: scale(1.3);
}

#myPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

#aboutMeTitle, #myJourney, #myEducation {
    text-align: center;
}

#name {
    font-size: 5rem;
    font-weight: 700;
}

#aboutMeTitle, #myJourney, #myEducation {
    font-size: 3rem;
    font-weight: 400;
}

#aboutMeParagraph{
    font-weight: 100;
}

.journey h3, .education h3 {
    font-weight: 400;
}
.journey h4, .journey h5, .education h4, .education h5 {
    font-weight: 100;
}

.linksContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#linkedin {
    color: black;
    transition: 0.5s;
}

#github {
    color: black;
    transition: 0.5s;
}

#linkedin:hover {
    /* color: #0077b5; */
    transform: scale(1.3);

}

#github:hover {
    /* color:#6e5494; */
    transform: scale(1.3);
}

.school, .job {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 0 auto;

}

#logo {
    height: 150px;
    width: auto;
    padding-right: 100px;
    padding-top: 60px;
}