<div class="experienceContainer">
  <a id="anchor-experience"></a>
  <div class="journey">
    <h2 id="myJourney">experience</h2>
    <div class="allJob">
      <div class="job">
        <div class="jobLogo">
          <img id="logo" src="../../assets/images/yardi.png" alt="Yardi Logo" />
        </div>
        <div class="jobInfo">
          <h3>Yardi</h3>
          <h4>Technical Account Manager</h4>
          <h5>September 2021-Present</h5>
          <h5>Toronto, ON</h5>
        </div>
      </div>

      <div class="job">
        <div class="jobLogo">
          <img
            id="logo"
            src="../../assets/images/walmart.png"
            alt="Walmart Logo"
          />
        </div>
        <div class="jobInfo">
          <h3>Walmart</h3>
          <h4>CAP 3</h4>
          <h5>December 2020-September 2021</h5>
          <h5>Hamilton, ON</h5>
        </div>
      </div>

      <div class="job">
        <div class="jobLogo">
          <img
            id="logo"
            src="../../assets/images/trillium.png"
            alt="Trillium Health Partners Logo"
          />
        </div>
        <div class="jobInfo">
          <h3>Trillium Health Partners</h3>
          <h4>HIS Implementation</h4>
          <h5>August 2020-November 2020</h5>
          <h5>Mississauga, ON</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="education">
    <h2 id="myEducation">education</h2>
    <div class="allSchool">
      <div class="school">
        <div class="schoolLogo">
          <img
            id="logo"
            src="../../assets/images/uoft.png"
            alt="University of Toronto Logo"
          />
        </div>
        <div class="schoolInfo">
          <h3>University of Toronto</h3>
          <h4>H.BSc in Statistics and Computer Science</h4>
          <h5>2016-2020</h5>
          <h5>Toronto, ON</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="links">
  <div class="linksContainer">
    <!-- <a id="linkedin" href="https://www.linkedin.com/in/danny-vo-a5b517128/"
      ><i class="fab fa-linkedin fa-3x"></i
    ></a>
    <a id="github" href="https://github.com/vodanny1"
      ><i class="fab fa-github fa-3x"></i
    ></a> -->
    <h3>linkedin</h3>
    <h3>github</h3>
  </div>
</div>

<footer class="footer">
  <p>Copyright &copy; 2023 Danny Vo. All Rights Reserved</p>
</footer>
