<div class="container">
  <div class="contactDiv">
    <h2 id="contactTitle">links</h2>
    <!-- <br />
    <p>CONTACT INFORMATION</p> -->

    <div class="links">
      <div class="linksContainer">
        <!-- <a id="linkedin" href="https://www.linkedin.com/in/danny-vo-a5b517128/"
          ><i class="fab fa-linkedin fa-3x"></i
        ></a>
        <a id="github" href="https://github.com/vodanny1"
          ><i class="fab fa-github fa-3x"></i
        ></a> -->
        <h3>linkedin</h3>
        <h3>github</h3>
      </div>
    </div>
  </div>
</div>
