body {
  background-color: #333a73;
}

app-header {
  flex: 0 0 auto;
}

.content-wrapper {
  flex: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #333a73;
}

#descriptionSection {
  background-color: #333a73;
}
