h3 {
  font-family: "Courier", serif;
  text-align: left;
}

h1 {
  text-align: left;
  font-family: "Helvetica", serif;
  font-size: 100px;
}

#name {
  color: #fba834;
}

#slogan,
h3 {
  color: #af7524;
}

#intro {
  color: #00e19d;
}

.container {
  transform: translateY(10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* height: 100%; */
  width: 90vw;
}

.center {
  text-align: right;
  /* padding-left: 100px; */
}

.image-container img {
  border-radius: 50%;
  /* max-width: 20vw;
  height: auto; */

  width: 300px;
  height: 300px;
}

.image-container {
  padding-right: 100px;
  margin-left: 15vw;
}

body {
  background-color: transparent;
}
