<div class="aboutMe">
  <div class="myInfo">
    <h2 id="aboutMeTitle">about me</h2>
    <br />
    <p id="aboutMeParagraph">
      Hello there! I'm Danny, a {{ age }} year old technology enthusiast with a
      burning passion for all things tech-related. I graduated from the
      University of Toronto in 2020, with a degree in Computer Science. Since
      then, I've been on an exhilarating journey through the ever-evolving realm
      of technology, and I'm excited to share my experiences with you on this
      platform.

      <br />
      <br />
      My fascination with technology goes beyond mere interest; it's a driving
      force that fuels my creativity and innovation. I am captivated by the way
      technology shapes our lives, connecting us in ways previously
      unimaginable. In the rapidly changing landscape of the digital age, I find
      myself constantly inspired to explore, learn, and create.

      <br />
      <br />
      During my academic years, I honed my skills in computer science, mastering
      various programming languages and delving into the intricacies of software
      development. My time at the University of Toronto not only provided me
      with a solid foundation in computer science principles but also nurtured
      my ability to think critically and solve complex problems. These skills
      have become the cornerstone of my professional journey.

      <br />
      <br />
      This website serves as a platform to share my insights, experiences, and
      projects with the world. Here, you’ll find a collection of my thoughts on
      the latest tech trends, detailed explorations of innovative projects, and
      perhaps a glimpse into the future of technology as I see it.
    </p>
  </div>
</div>
