.aboutMe {
  margin: 0 auto;
  width: 65%;
}

#aboutMeTitle {
  padding-top: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

#aboutMeParagraph {
  line-height: 2;
}

.links {
  margin-bottom: 3rem;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#linkedin {
  color: black;
  transition: 0.5s;
}

#github {
  color: black;
  transition: 0.5s;
}

#linkedin:hover {
  transform: scale(1.3);
}

#github:hover {
  transform: scale(1.3);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
