.aboutMe {
  background-color: transparent;
  /* color: red; */
}
.aboutMe {
  display: block;
  margin: 0 auto;
  /* width: 65%; */
  width: 60vw;
}

h2 {
  color: #fba834;
  margin: 0;
}
p {
  /* color: white; */
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #af7524;
  margin: 0;
}

#aboutMeTitle {
  padding-top: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

#aboutMeParagraph {
  line-height: 2;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
