* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  /* font-family: "Playfair Display", serif; */
  margin-bottom: 20px;
}

html[data-theme="dark"] {
  transition: 0.5s;
  background-color: black;
  color: white;
}

html[data-theme="light"] {
  transition: 0.5s;
}

.dark-mode {
  background-color: black;
  color: white;
}

.photoContainer {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1642620954915-a57b1d0404ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80");
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

/* .aboutContainer,
.experienceContainer {
  height: 100vh;
} */

.aboutContainer,
.journey {
  margin-bottom: 3rem;
}

.education {
  margin-bottom: 10rem;
}

.aboutMe {
  margin: 0 auto;
  width: 65%;
}

#aboutMeTitle,
#myJourney,
#myEducation {
  padding-top: 3rem;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 48px;
}

#aboutMeParagraph {
  line-height: 2;
}

#myPic {
  /* Centering the profile picture */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: block;
  margin: auto;
}

#myPic {
  border-radius: 50%;
  max-width: 30vw;
  height: auto;
}

.toggleDark {
  float: right;
}

#btnDark {
  margin-right: 20px;
  margin-left: 5px;
  transition: 0.5s;
}

#btnDark:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.journey,
.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journey h2,
.education h2,
#aboutMeTitle {
  margin-bottom: 5rem;
}

.allJob,
.allSchool {
  display: flex;
  /* flex-direction: column; */
}

.job,
.school {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 7rem;
  margin-right: 7rem; */
  padding-left: 5rem;
  padding-right: 5rem;
}

.jobLogo,
.jobInfo,
.schoolLogo,
.schoolInfo {
  width: 200px;
  margin: auto;
  height: auto;
  text-align: center;
}

.jobInfo h3,
.jobInfo h4,
.schoolInfo h3,
.schoolInfoh4 {
  margin-bottom: 5px;
}

#logo {
  max-width: 100%;
  max-height: 100%;
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#linkedin {
  color: black;
  transition: 0.5s;
}

#github {
  color: black;
  transition: 0.5s;
}

#linkedin:hover {
  transform: scale(1.3);
}

#github:hover {
  transform: scale(1.3);
}

@media (max-width: 800px) {
  .allJob,
  .allSchool {
    flex-direction: column;
  }

  .job {
    margin-bottom: 5rem;
  }

  #logo {
    max-width: 50%;
    max-height: 50%;
  }

  #myPic {
    max-width: 50vw;
  }
}

@media (max-width: 1100px) and (min-width: 801px) {
  .job,
  .school {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
